<style>
 table, th, td 
 {
text-align: center;
border: 1px solid black;
border-collapse: collapse;} 
</style><tr>
<table style="width:70%">
<tr>		<th>Capital</th>
</tr>
<tr>		<th>Kabul</th>
</tr>
<tr>		<th>Tirane</th>
</tr>
<tr>		<th>Algiers</th>
</tr>
<tr>		<th>Andorra la Vella</th>
</tr>
<tr>		<th>Luanda</th>
</tr>
<tr>		<th>Saint John's</th>
</tr>
<tr>		<th>Buenos Aires</th>
</tr>
<tr>		<th>Yerevan</th>
</tr>
<tr>		<th>Canberra</th>
</tr>
<tr>		<th>Vienna</th>
</tr>
<tr>		<th>Baku</th>
</tr>
<tr>		<th>Nassau</th>
</tr>
<tr>		<th>Manama</th>
</tr>
<tr>		<th>Dhaka</th>
</tr>
<tr>		<th>Bridgetown</th>
</tr>
<tr>		<th>Minsk</th>
</tr>
<tr>		<th>Brussels</th>
</tr>
<tr>		<th>Belmopan</th>
</tr>
<tr>		<th>Porto-Novo</th>
</tr>
<tr>		<th>Thimphu</th>
</tr>
<tr>		<th>"La Paz, Sucre"</th>
</tr>
<tr>		<th>Sarajevo</th>
</tr>
<tr>		<th>Gaborone</th>
</tr>
<tr>		<th>Brasilia</th>
</tr>
<tr>		<th>Bandar Seri Begawan</th>
</tr>
<tr>		<th>Sofia</th>
</tr>
<tr>		<th>Ouagadougou</th>
</tr>
<tr>		<th>Bujumbura</th>
</tr>
<tr>		<th>Phnom Penh</th>
</tr>
<tr>		<th>Yaounde</th>
</tr>
<tr>		<th>Ottawa</th>
</tr>
<tr>		<th>Praia</th>
</tr>
<tr>		<th>Bangui</th>
</tr>
<tr>		<th>N'Djamena</th>
</tr>
<tr>		<th>Santiago</th>
</tr>
<tr>		<th>Beijing</th>
</tr>
<tr>		<th>Bogota</th>
</tr>
<tr>		<th>Moron</th>
</tr>
<tr>		<th>Kinshasa</th>
</tr>
<tr>		<th>Brazzaville</th>
</tr>
<tr>		<th>San Jose</th>
</tr>
<tr>		<th>"Yamoussoukro, Abidjan"</th>
</tr>
<tr>		<th>Zagreb</th>
</tr>
<tr>		<th>Havana</th>
</tr>
<tr>		<th>Nicosia</th>
</tr>
<tr>		<th>Prague</th>
</tr>
<tr>		<th>Copenhagen</th>
</tr>
<tr>		<th>Djibouti</th>
</tr>
<tr>		<th>Rosesau</th>
</tr>
<tr>		<th>Santo Domingo</th>
</tr>
<tr>		<th>Dilli</th>
</tr>
<tr>		<th>Quito</th>
</tr>
<tr>		<th>Cairo</th>
</tr>
<tr>		<th>San Salvador</th>
</tr>
<tr>		<th>Malabo</th>
</tr>
<tr>		<th>Asmara</th>
</tr>
<tr>		<th>Tallinn</th>
</tr>
<tr>		<th>Addis Ababa</th>
</tr>
<tr>		<th>Suva</th>
</tr>
<tr>		<th>Helsinki</th>
</tr>
<tr>		<th>Paris</th>
</tr>
<tr>		<th>Libreville</th>
</tr>
<tr>		<th>Banjul</th>
</tr>
<tr>		<th>Tbilisi</th>
</tr>
<tr>		<th>Berlin</th>
</tr>
<tr>		<th>Accra</th>
</tr>
<tr>		<th>Athens</th>
</tr>
<tr>		<th>St. George's</th>
</tr>
<tr>		<th>Guatemala City</th>
</tr>
<tr>		<th>Conakry</th>
</tr>
<tr>		<th>Bissau</th>
</tr>
<tr>		<th>Georgetown</th>
</tr>
<tr>		<th>Port-au-Prince</th>
</tr>
<tr>		<th>Tegucigalpa</th>
</tr>
<tr>		<th>Budapest</th>
</tr>
<tr>		<th>Reykjavik</th>
</tr>
<tr>		<th>New Delhi</th>
</tr>
<tr>		<th>Jakarta</th>
</tr>
<tr>		<th>Tehran</th>
</tr>
<tr>		<th>Baghdad</th>
</tr>
<tr>		<th>Dublin</th>
</tr>
<tr>		<th>Jerusalem</th>
</tr>
<tr>		<th>Rome</th>
</tr>
<tr>		<th>Kingston</th>
</tr>
<tr>		<th>Tokyo</th>
</tr>
<tr>		<th>Amman</th>
</tr>
<tr>		<th>Astana</th>
</tr>
<tr>		<th>Nairobi</th>
</tr>
<tr>		<th>Tarawa Atoll</th>
</tr>
<tr>		<th>Pyongyang</th>
</tr>
<tr>		<th>Seoul</th>
</tr>
<tr>		<th>Pristina</th>
</tr>
<tr>		<th>Kuwait City</th>
</tr>
<tr>		<th>Bishkek</th>
</tr>
<tr>		<th>Vientiane</th>
</tr>
<tr>		<th>Riga</th>
</tr>
<tr>		<th>Beirut</th>
</tr>
<tr>		<th>Maseru</th>
</tr>
<tr>		<th>Monrovia</th>
</tr>
<tr>		<th>Tripoli</th>
</tr>
<tr>		<th>Vaduz</th>
</tr>
<tr>		<th>Vilnius</th>
</tr>
<tr>		<th>Luxembourg</th>
</tr>
<tr>		<th>Skopje</th>
</tr>
<tr>		<th>Antananarivo</th>
</tr>
<tr>		<th>Lilongwe</th>
</tr>
<tr>		<th>Kuala Lumpur</th>
</tr>
<tr>		<th>Male</th>
</tr>
<tr>		<th>Bamako</th>
</tr>
<tr>		<th>Valletta</th>
</tr>
<tr>		<th>Majuro</th>
</tr>
<tr>		<th>Nouakchott</th>
</tr>
<tr>		<th>Port Louis</th>
</tr>
<tr>		<th>Mexico City</th>
</tr>
<tr>		<th>Palikir</th>
</tr>
<tr>		<th>Chisinau</th>
</tr>
<tr>		<th>Monaco</th>
</tr>
<tr>		<th>Ulaanbaatar</th>
</tr>
<tr>		<th>Podgorica</th>
</tr>
<tr>		<th>Rabat</th>
</tr>
<tr>		<th>Maputo</th>
</tr>
<tr>		<th>Nypyidaw</th>
</tr>
<tr>		<th>Windhoek</th>
</tr>
<tr>		<th>Yaren</th>
</tr>
<tr>		<th>Kathmandu</th>
</tr>
<tr>		<th>"Amsterdam, The Hague"</th>
</tr>
<tr>		<th>Wellington</th>
</tr>
<tr>		<th>Managua</th>
</tr>
<tr>		<th>Niamey</th>
</tr>
<tr>		<th>Abuja</th>
</tr>
<tr>		<th>Oslo</th>
</tr>
<tr>		<th>Muscat</th>
</tr>
<tr>		<th>Islamabad</th>
</tr>
<tr>		<th>Melekeok</th>
</tr>
<tr>		<th>Panama City</th>
</tr>
<tr>		<th>Port Moresby Papa</th>
</tr>
<tr>		<th>Asuncion</th>
</tr>
<tr>		<th>Lima</th>
</tr>
<tr>		<th>Manila</th>
</tr>
<tr>		<th>Warsaw</th>
</tr>
<tr>		<th>Lisbon</th>
</tr>
<tr>		<th>Doha</th>
</tr>
<tr>		<th>Bucharest</th>
</tr>
<tr>		<th>Moscow</th>
</tr>
<tr>		<th>Kigali</th>
</tr>
<tr></table>