<style>
 table, th, td 
 {
text-align: center;
border: 1px solid black; 
 border-collapse: collapse;} 
</style><tr>
<table style="width:70%"><tr>
<th>Country</th><th>Capital</th><th>Currency</th><th>Primary Language</th></tr>
<tr><td>Afghanistan</td>
	<td>Kabul</td>
		<td>Afghani</td>
			<td>"Dari Persian, Pashto"</td></tr>
<tr><td>Albania</td>
	<td>Tirane</td>
		<td>Lek</td>
			<td>Albanian</td></tr>
<tr><td>Algeria</td>
	<td>Algiers</td>
		<td>Algerian Dinar</td>
			<td>"Arabic, Tamazight, French"</td></tr>
<tr><td>Andorra</td>
	<td>Andorra la Vella</td>
		<td>Euro</td>
			<td>Catalan</td></tr>
<tr><td>Angola</td>
	<td>Luanda</td>
		<td>Kwanza</td>
			<td>Portuguese</td></tr>
<tr><td>Antigua & Barbuda</td>
	<td>Saint John's</td>
		<td>East Caribbean Dollar</td>
			<td>English</td></tr>
<tr><td>Argentina</td>
	<td>Buenos Aires</td>
		<td>Argentine Peso</td>
			<td>Spanish</td></tr>
<tr><td>Armenia</td>
	<td>Yerevan</td>
		<td>Dram</td>
			<td>Armenian</td></tr>
<tr><td>Australia</td>
	<td>Canberra</td>
		<td>Australian Dollar</td>
			<td>English</td></tr>
<tr><td>Austria</td>
	<td>Vienna</td>
		<td>Euro</td>
			<td>German</td></tr>
<tr><td>Azerbaijan</td>
	<td>Baku</td>
		<td>Manat</td>
			<td>Azerbaijani</td></tr>
<tr><td>The Bahamas</td>
	<td>Nassau</td>
		<td>Bahamian Dollar</td>
			<td>English</td></tr>
<tr><td>Bahrain</td>
	<td>Manama</td>
		<td>Bahraini Dinar</td>
			<td>Arabic</td></tr>
<tr><td>Bangladesh</td>
	<td>Dhaka</td>
		<td>Taka</td>
			<td>Bangla</td></tr>
<tr><td>Barbados</td>
	<td>Bridgetown</td>
		<td>Barbadian Dollar</td>
			<td>English</td></tr>
<tr><td>Belarus</td>
	<td>Minsk</td>
		<td>Belarusian Ruble</td>
			<td>"Belarusian, Russian"</td></tr>
<tr><td>Belgium</td>
	<td>Brussels</td>
		<td>Euro</td>
			<td>"Dutch, French, German"</td></tr>
<tr><td>Belize</td>
	<td>Belmopan</td>
		<td>Belize Dollar</td>
			<td>English</td></tr>
<tr><td>Benin</td>
	<td>Porto-Novo</td>
		<td>West African CFA Franc</td>
			<td>French</td></tr>
<tr><td>Bhutan</td>
	<td>Thimphu</td>
		<td>Ngultrum</td>
			<td>Dzongkha</td></tr>
<tr><td>Bolivia</td>
	<td>"La Paz, Sucre"</td>
		<td>Boliviano</td>
			<td>"Spanish, Quechua, Aymara"</td></tr>
<tr><td>Bosnia and Herzegovina</td>
	<td>Sarajevo</td>
		<td>Convertible Mark</td>
			<td>"Bosnian, Croatian, Serbian"</td></tr>
<tr><td>Botswana</td>
	<td>Gaborone</td>
		<td>Pula</td>
			<td>"English, Tswana"</td></tr>
<tr><td>Brazil</td>
	<td>Brasilia</td>
		<td>Real</td>
			<td>Portuguese</td></tr>
<tr><td>Brunei</td>
	<td>Bandar Seri Begawan</td>
		<td>Brunei Dollar</td>
			<td>Malay</td></tr>
<tr><td>Bulgaria</td>
	<td>Sofia</td>
		<td>Lev</td>
			<td>Bulgarian</td></tr>
<tr><td>Burkina Faso</td>
	<td>Ouagadougou</td>
		<td>West African CFA Franc</td>
			<td>French</td></tr>
<tr><td>Burundi</td>
	<td>Bujumbura</td>
		<td>Burundi Franc</td>
			<td>"Kirundi, French"</td></tr>
<tr><td>Cambodia</td>
	<td>Phnom Penh</td>
		<td>Riel</td>
			<td>Khmer</td></tr>
<tr><td>Cameroon</td>
	<td>Yaounde</td>
		<td>Central African CFA Franc</td>
			<td>"French, English"</td></tr>
<tr><td>Canada</td>
	<td>Ottawa</td>
		<td>Canadian Dollar</td>
			<td>"English, French"</td></tr>
<tr><td>Cape Verde</td>
	<td>Praia</td>
		<td>Cape Verdean Escudo</td>
			<td>Portuguese</td></tr>
<tr><td>Central African Republic</td>
	<td>Bangui</td>
		<td>Central African CFA Franc</td>
			<td>"Sango, French"</td></tr>
<tr><td>Chad</td>
	<td>N'Djamena</td>
		<td>Central African CFA Franc</td>
			<td>"French, Arabic"</td></tr>
<tr><td>Chile</td>
	<td>Santiago</td>
		<td>Chilean Peso</td>
			<td>Spanish</td></tr>
<tr><td>China</td>
	<td>Beijing</td>
		<td>Chinese Yuan</td>
			<td>Mandarin</td></tr>
<tr><td>Colombia</td>
	<td>Bogota</td>
		<td>Colombian Peso</td>
			<td>Spanish</td></tr>
<tr><td>Comoros</td>
	<td>Moron</td>
		<td>Comorian Franc</td>
			<td>"Comorian, Arabic, French"</td></tr>
<tr><td>Democratic Republic of the Congo</td>
	<td>Kinshasa</td>
		<td>Congolese Franc</td>
			<td>French</td></tr>
<tr><td>Republic of the Congo</td>
	<td>Brazzaville</td>
		<td>Central African CFA Franc</td>
			<td>French</td></tr>
<tr><td>Costa Rica</td>
	<td>San Jose</td>
		<td>Colon</td>
			<td>Spanish</td></tr>
<tr><td>Cote d'Ivoire (Ivory Coast)</td>
	<td>"Yamoussoukro, Abidjan"</td>
		<td>West African CFA Franc</td>
			<td>French</td></tr>
<tr><td>Croatia</td>
	<td>Zagreb</td>
		<td>Croatian</td>
			<td>Kuna</td></tr>
<tr><td>Cuba</td>
	<td>Havana</td>
		<td>Cuban Peso</td>
			<td>Spanish</td></tr>
<tr><td>Cyprus</td>
	<td>Nicosia</td>
		<td>Euro</td>
			<td>"Greek, Turkish"</td></tr>
<tr><td>Czechia</td>
	<td>Prague</td>
		<td>Czech Koruna</td>
			<td>"Czech, Slovak"</td></tr>
<tr><td>Denmark</td>
	<td>Copenhagen</td>
		<td>Danish Krone</td>
			<td>Danish</td></tr>
<tr><td>Djibouti</td>
	<td>Djibouti</td>
		<td>Djiboutian Franc</td>
			<td>"Arabic, French"</td></tr>
<tr><td>Dominica</td>
	<td>Rosesau</td>
		<td>East Caribbean Dollar</td>
			<td>"English, French, Antillean Creole"</td></tr>
<tr><td>Dominican Republic</td>
	<td>Santo Domingo</td>
		<td>Dominican Peso</td>
			<td>Spanish</td></tr>
<tr><td>East Timor (Timor-Leste)</td>
	<td>Dilli</td>
		<td>United States Dollar</td>
			<td>"Tetum, Portuguese,Indonesian"</td></tr>
<tr><td>Ecuador</td>
	<td>Quito</td>
		<td>United States Dollar</td>
			<td>Spanish</td></tr>
<tr><td>Egypt</td>
	<td>Cairo</td>
		<td>Egyptian Pound</td>
			<td>Arabic</td></tr>
<tr><td>El Salvador</td>
	<td>San Salvador</td>
		<td>United States Dollar</td>
			<td>Spanish</td></tr>
<tr><td>Equitorial Guinea</td>
	<td>Malabo</td>
		<td>Central African CFA Franc</td>
			<td>"Spanish, French, Portuguese"</td></tr>
<tr><td>Eritrea</td>
	<td>Asmara</td>
		<td>Nakfa</td>
			<td>"Arabic, Tigrinya, English"</td></tr>
<tr><td>Estonia</td>
	<td>Tallinn</td>
		<td>"Estonian Kroon, Euro"</td>
			<td>Estonian</td></tr>
<tr><td>Ethiopia</td>
	<td>Addis Ababa</td>
		<td>Birr</td>
			<td>Amharic</td></tr>
<tr><td>Fiji</td>
	<td>Suva</td>
		<td>Fijian Dollar</td>
			<td>"English, Bau Fijian, Hindi"</td></tr>
<tr><td>Finland</td>
	<td>Helsinki</td>
		<td>Euro</td>
			<td>"Finnish, Swedish"</td></tr>
<tr><td>France</td>
	<td>Paris</td>
		<td>"Euro, CFP Franc"</td>
			<td>French</td></tr>
<tr><td>Gabon</td>
	<td>Libreville</td>
		<td>Central African CFA Franc</td>
			<td>French</td></tr>
<tr><td>The Gambia</td>
	<td>Banjul</td>
		<td>Dalasi</td>
			<td>English</td></tr>
<tr><td>Georgia</td>
	<td>Tbilisi</td>
		<td>Lari</td>
			<td>Georgian</td></tr>
<tr><td>Germany</td>
	<td>Berlin</td>
		<td>Euro</td>
			<td>German</td></tr>
<tr><td>Ghana</td>
	<td>Accra</td>
		<td>Ghanaian Cedi</td>
			<td>English</td></tr>
<tr><td>Greece</td>
	<td>Athens</td>
		<td>Euro</td>
			<td>Greek</td></tr>
<tr><td>Grenada</td>
	<td>St. George's</td>
		<td>East Caribbean Dollar</td>
			<td>"English, Patois"</td></tr>
<tr><td>Guatemala</td>
	<td>Guatemala City</td>
		<td>Quetzal</td>
			<td>Spanish</td></tr>
<tr><td>Guinea</td>
	<td>Conakry</td>
		<td>Guinean Franc</td>
			<td>French</td></tr>
<tr><td>Guinea-Bissau</td>
	<td>Bissau</td>
		<td>West African CFA Franc</td>
			<td>Portuguese</td></tr>
<tr><td>Guyana</td>
	<td>Georgetown</td>
		<td>Guyanese Dollar</td>
			<td>English</td></tr>
<tr><td>Haiti</td>
	<td>Port-au-Prince</td>
		<td>Gourde</td>
			<td>"Haitian Creole, French"</td></tr>
<tr><td>Honduras</td>
	<td>Tegucigalpa</td>
		<td>Lempira</td>
			<td>Spanish</td></tr>
<tr><td>Hungary</td>
	<td>Budapest</td>
		<td>Forint</td>
			<td>Hungarian</td></tr>
<tr><td>Iceland</td>
	<td>Reykjavik</td>
		<td>Icelandic Krona</td>
			<td>Icelandic</td></tr>
<tr><td>India</td>
	<td>New Delhi</td>
		<td>Indian Rupee</td>
			<td>"Hindi, English"</td></tr>
<tr><td>Indonesia</td>
	<td>Jakarta</td>
		<td>Rupiah</td>
			<td>Indonesian</td></tr>
<tr><td>Iran</td>
	<td>Tehran</td>
		<td>Rial</td>
			<td>Persian</td></tr>
<tr><td>Iraq</td>
	<td>Baghdad</td>
		<td>Iraqi Dinar</td>
			<td>"Arabic, Kurdish"</td></tr>
<tr><td>Republic of Ireland</td>
	<td>Dublin</td>
		<td>Euro</td>
			<td>"English, Irish"</td></tr>
<tr><td>Israel</td>
	<td>Jerusalem</td>
		<td>Shekel</td>
			<td>"Hebrew, Arabic"</td></tr>
<tr><td>Italy</td>
	<td>Rome</td>
		<td>Euro</td>
			<td>Italian</td></tr>
<tr><td>Jamaica</td>
	<td>Kingston</td>
		<td>Jamaican Dollar</td>
			<td>English</td></tr>
<tr><td>Japan</td>
	<td>Tokyo</td>
		<td>Yen</td>
			<td>Japanese</td></tr>
<tr><td>Jordan</td>
	<td>Amman</td>
		<td>Jordanian Dinar</td>
			<td>Arabic</td></tr>
<tr><td>Kazakhstan</td>
	<td>Astana</td>
		<td>Tenge</td>
			<td>"Kazakh, Russian"</td></tr>
<tr><td>Kenya</td>
	<td>Nairobi</td>
		<td>Kenyan Shilling</td>
			<td>"Swahili, English"</td></tr>
<tr><td>Kiribati</td>
	<td>Tarawa Atoll</td>
		<td>Kiribati Dollar</td>
			<td>"English, Gilbertese"</td></tr>
<tr><td>North Korea</td>
	<td>Pyongyang</td>
		<td>North Korean Won</td>
			<td>Korean</td></tr>
<tr><td>South Korea</td>
	<td>Seoul</td>
		<td>South Korean Won</td>
			<td>Korean</td></tr>
<tr><td>Kosovo</td>
	<td>Pristina</td>
		<td>Euro</td>
			<td>"Albanian, Serbian"</td></tr>
<tr><td>Kuwait</td>
	<td>Kuwait City</td>
		<td>Kuwaiti Dollar</td>
			<td>"Arabic, English"</td></tr>
<tr><td>Kyrgyzstan</td>
	<td>Bishkek</td>
		<td>Som</td>
			<td>"Kyrgyz, Russian"</td></tr>
<tr><td>Laos</td>
	<td>Vientiane</td>
		<td>Kip</td>
			<td>Lao (Laotian)</td></tr>
<tr><td>Latvia</td>
	<td>Riga</td>
		<td>Lats</td>
			<td>Latvian</td></tr>
<tr><td>Lebanon</td>
	<td>Beirut</td>
		<td>Lebanese Pound</td>
			<td>"Arabic, French"</td></tr>
<tr><td>Lesotho</td>
	<td>Maseru</td>
		<td>Loti</td>
			<td>"Sesotho, English"</td></tr>
<tr><td>Liberia</td>
	<td>Monrovia</td>
		<td>Liberian Dollar</td>
			<td>English</td></tr>
<tr><td>Libya</td>
	<td>Tripoli</td>
		<td>Libyan Dinar</td>
			<td>Arabic</td></tr>
<tr><td>Liechtenstein</td>
	<td>Vaduz</td>
		<td>Swiss Franc</td>
			<td>German</td></tr>
<tr><td>Lithuania</td>
	<td>Vilnius</td>
		<td>Lithuanian Litas</td>
			<td>Lithuanian</td></tr>
<tr><td>Luxembourg</td>
	<td>Luxembourg</td>
		<td>Euro</td>
			<td>"German, French, Luxembourgish"</td></tr>
<tr><td>Macedonia</td>
	<td>Skopje</td>
		<td>Macedonian Denar</td>
			<td>Macedonian</td></tr>
<tr><td>Madagascar</td>
	<td>Antananarivo</td>
		<td>Malagasy Ariary</td>
			<td>"Malagasy, French, English"</td></tr>
<tr><td>Malawi</td>
	<td>Lilongwe</td>
		<td>Malawi Kwacha</td>
			<td>English</td></tr>
<tr><td>Malaysia</td>
	<td>Kuala Lumpur</td>
		<td>Ringgit</td>
			<td>Malay</td></tr>
<tr><td>Maldives</td>
	<td>Male</td>
		<td>Maldivian Rufiyaa</td>
			<td>Dhivehi</td></tr>
<tr><td>Mali</td>
	<td>Bamako</td>
		<td>West African CFA Franc</td>
			<td>French</td></tr>
<tr><td>Malta</td>
	<td>Valletta</td>
		<td>Euro</td>
			<td>"Maltese, English"</td></tr>
<tr><td>Marshall Islands</td>
	<td>Majuro</td>
		<td>United States Dollar</td>
			<td>"Marshallese, English"</td></tr>
<tr><td>Mauritania</td>
	<td>Nouakchott</td>
		<td>Ouguiya</td>
			<td>Arabic</td></tr>
<tr><td>Mauritius</td>
	<td>Port Louis</td>
		<td>Mauritian Rupee</td>
			<td>English</td></tr>
<tr><td>Mexico</td>
	<td>Mexico City</td>
		<td>Mexican Peso</td>
			<td>Spanish</td></tr>
<tr><td>Federal States of Micronesia</td>
	<td>Palikir</td>
		<td>United States Dollar</td>
			<td>English</td></tr>
<tr><td>Moldova</td>
	<td>Chisinau</td>
		<td>Moldovan Leu</td>
			<td>Moldovan (Romanian)</td></tr>
<tr><td>Monaco</td>
	<td>Monaco</td>
		<td>Euro</td>
			<td>"French, Italian, English"</td></tr>
<tr><td>Mongolia</td>
	<td>Ulaanbaatar</td>
		<td>Togrog</td>
			<td>Mongolian</td></tr>
<tr><td>Montenegro</td>
	<td>Podgorica</td>
		<td>Euro</td>
			<td>Montenegrin</td></tr>
<tr><td>Morocco</td>
	<td>Rabat</td>
		<td>Moroccan Dirham</td>
			<td>Arabic</td></tr>
<tr><td>Mozambique</td>
	<td>Maputo</td>
		<td>Mozambican Metical</td>
			<td>Portuguese</td></tr>
<tr><td>Myanmar (Burma)</td>
	<td>Nypyidaw</td>
		<td>Kyat</td>
			<td>Burmese</td></tr>
<tr><td>Namibia</td>
	<td>Windhoek</td>
		<td>Namibian Dollar</td>
			<td>"English, Afrikaans, German"</td></tr>
<tr><td>Nauru</td>
	<td>Yaren</td>
		<td>Australian Dollar</td>
			<td>"English, Nauran"</td></tr>
<tr><td>Nepal</td>
	<td>Kathmandu</td>
		<td>Nepalese Rupee</td>
			<td>Nepali</td></tr>
<tr><td>Netherlands</td>
	<td>"Amsterdam, The Hague"</td>
		<td>Euro</td>
			<td>Dutch</td></tr>
<tr><td>New Zealand</td>
	<td>Wellington</td>
		<td>New Zealand Dollar</td>
			<td>English</td></tr>
<tr><td>Nicaragua</td>
	<td>Managua</td>
		<td>Cordoba</td>
			<td>Spanish</td></tr>
<tr><td>Niger</td>
	<td>Niamey</td>
		<td>West African CFA Franc</td>
			<td>French</td></tr>
<tr><td>Nigeria</td>
	<td>Abuja</td>
		<td>Naira</td>
			<td>English</td></tr>
<tr><td>Norway</td>
	<td>Oslo</td>
		<td>Norwegian Krone</td>
			<td>Norwegian</td></tr>
<tr><td>Oman</td>
	<td>Muscat</td>
		<td>Omani Rial</td>
			<td>Arabic</td></tr>
<tr><td>Pakistan</td>
	<td>Islamabad</td>
		<td>Pakistani Rupee</td>
			<td>"Urdu, English"</td></tr>
<tr><td>Palau</td>
	<td>Melekeok</td>
		<td>United States Dollar</td>
			<td>"English, Palauan"</td></tr>
<tr><td>Panama</td>
	<td>Panama City</td>
		<td>Balboa</td>
			<td>Spanish</td></tr>
<tr><td>Papa New Guinea</td>
	<td>Port Moresby Papa</td>
		<td>Papa New Guinean Kina</td>
			<td>"English, Tok Pisin, Hiri Motu"</td></tr>
<tr><td>Paraguay</td>
	<td>Asuncion</td>
		<td>Guarani</td>
			<td>"Spanish, Guarani"</td></tr>
<tr><td>Peru</td>
	<td>Lima</td>
		<td>Nuevo Sol</td>
			<td>Spanish</td></tr>
<tr><td>Phillipines</td>
	<td>Manila</td>
		<td>Phillipine Peso</td>
			<td>"Filipino, English"</td></tr>
<tr><td>Poland</td>
	<td>Warsaw</td>
		<td>Zloty</td>
			<td>Polish</td></tr>
<tr><td>Portugal</td>
	<td>Lisbon</td>
		<td>Euro</td>
			<td>Portuguese</td></tr>
<tr><td>Qatar</td>
	<td>Doha</td>
		<td>Qatari Riyal</td>
			<td>Arabic</td></tr>
<tr><td>Romania</td>
	<td>Bucharest</td>
		<td>Romanian Rupee</td>
			<td>Romanian</td></tr>
<tr><td>Russia</td>
	<td>Moscow</td>
		<td>Ruble</td>
			<td>Russian</td></tr>
<tr><td>Rwanda</td>
	<td>Kigali</td>
		<td>Rwandan Franc</td>
			<td>"Kinyarwanda, French, English"</td></tr>
</table>